
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Add styles for the nav:*/

nav {
  background-color: #ee9535;
  color: #fff;
  padding: 1rem;
  text-align: center;
  padding-bottom: 30px;
  
}

.navlinks {
  display: inline-block;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.active {
  background-color: #f77010;
  text-decoration: none;
  color: #fff;
  border: #f77010 solid 1px;
  padding: 10px 10px;
  margin: 10px 30px;
}

.active:hover{
  background-color: #ea853c;
}

.title{
  font-size: 2rem;
  margin-bottom: 40px;
  font-size: 40px;
}



/* Add styles for the header:*/

header {
  padding: 2rem;
  font-size: 70px;
  margin-bottom: 50px;
  margin-left: 80px;
}

.meal-title{
  color: #f77010;
  font-size: 2rem;
  margin-bottom: 40px;
  font-size: 30px;
  margin-top: 30px;
}

.description{
  font-size: 20px;
  color: #000000;
 
}


footer {
  background-color: #f77010;
  color: #fff;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
  position: fixed;
}
